<h1>Netslip Login</h1>
<p>For your convenience, we are unable to process your login
at this time.  Please try again later.  In the meantime, rest
assured that any personal information you may have provided
in the past is completely, unequivocally, and 100% safe,
thanks to the patented NoBooBoo (TM) technology used to implement
our Web site.</p>
<p>In the unlikely event that you should find
unexpected charges on your credit card statement, please (a)
check with your friends to see if they borrowed your
credit card, then (b) check with your personal physician to
explore the possibility that you may be "sleep-charging".
Above all, the problems didn't come from us. Honest.</p>
