<h1>Movie Rental</h1>
<p>For your convenience, we are unable to process your rental
request. Please try again later. We do want you to know, though,
that your sensitive personal information is always safe with us,
thanks to the patented NoBooBoo (TM) technology used to implement
our Web site.</p>
